.add-contact {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.add-contact h1 {
  text-align: center;
  margin-bottom: 20px;
}

.add-contact form {
  display: flex;
  flex-direction: column;
}

.add-contact label {
  margin-bottom: 5px;
}

.add-contact input{
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid gray;
  box-sizing: border-box;
}
.add-contact select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid gray;
  box-sizing: border-box;
}

.add-contact button {
  width: 100%;
  padding: 12px;
  background-color: blue;
  color: white;
  border: none;
}

